.overview {
    margin-right: auto;
    width: 700px;
    margin-left: auto;
    margin-top: 15px;
    font-family: "Georgia";
    margin-bottom: 10px;
}

.overview-source {
    margin-top: 10px;
    font-family: "Georgia";
    margin-bottom: 10px;

}

.overview-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.overview-sub-title {
    margin-top: 20px;
    font-weight: bold; 
    margin-bottom: auto;
    border-bottom: 1px solid #212121;
    width: fit-content;
    font-family: "Georgia";
}