.eda {
    width: 725px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-family: "Georgia";
}

.candidate-img {
    height: 200px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.candidates-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    font-family: "Georgia";
}

.candidate-name {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: "Georgia";
}

.back-btn { 
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: "Georgia";
}

.candidate-graphs {
    width: 700px;
    margin-top: 10px;
}

.candidate-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Georgia";
}